.nested-fields
  = f.association :service, collection: @master.services, as: :radio_buttons
  = f.input :file, as: :file
  = image_tag f.object.file_url(:medium) if f.object.persisted?
  = link_to_remove_association t("views.masters.remove_sample"), f
%p
