%ul.nav.navbar-nav
  - if user_signed_in?
    %li= link_to current_user.email, root_path
    %li= link_to t("devise.sign_out"), destroy_user_session_path, method: :delete
  - else
    %li= link_to t("devise.sign_in"), new_user_session_path
